{% extends 'base.html.twig' %}

{% block title %}Create New Post{% endblock %}

{% block body %}
    {% set submit %}
        <button type="submit">Create post</button>
    {% endset %}
    {% include('micro_post/_form.html.twig') with
        {
            form: form,
            submit: submit
        } only %}
{% endblock %}